/*顶部开始*/
.top_head {
	height: 80px;
	background-color: #F51120;
}

.top_head .w {
	height: 80px;
	background-color: pink;
	position: relative;
}

.top_head .close {
	width: 20px;
	height: 20px;
	background-color: rgba(0,0,0,.3);
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
	color: white;
	font-size: 18px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}

.top_head .close:hover {
	background-color: rgba(0,0,0,5);
}
/*导航开始*/
.nav {
	height: 30px;
	line-height: 30px;
	background-color: #E3E4E5;
	border-bottom: 1px solid #DDDDDD;
}
.nav .l-nav {
	float: left;
	margin-left: 320px;
}
.nav .l-nav li a:hover {
	color:red;
}

.nav .l-nav .iconfont {
	color: red;
	font-size: 12px;
}

.nav .r-nav {
	float: right;
}
.nav .r-nav li {
	float: left;
	padding: 0 12px;
}
.nav .r-nav .line {
	width: 1px;
	height: 10px;
	background-color: #CCCCCC;
	margin-top: 10px;
	padding: 0;
}
/*头部开始*/
.header {
	height: 115px;
	position: relative;
	padding-top: 25px;
}
.header .l-logo {
	float: left;
	width: 190px;
	height: 170px;
	background-color: #fff;
	position: absolute;
	top: -31px;
}
.header .l-logo a {
	width: 190px;
	height: 170px;
	display: inline-block;
	background: url(../img/logo.v2.png) no-repeat;
	text-indent: -2000px;
}

.header .m-search {
	float: left;
	border: 1px solid red;
	margin-left: 320px;
	position: relative;
}
.header .m-search .search {
	width: 493px;
	height: 33px;
	padding-left: 5px;
	float: left;

}
.header .m-search .iconfont {
	padding-left: -20px;
	font-size: 16px;
	color: white;
}
.header .m-search .btn {
	width: 50px;
	height: 33px;
	background-color: red;
	float: left;
}
.header .m-search i {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
}
.header .car {
	float: right;
	width: 188px;
	height: 33px;
	border:1px solid #ccc;
	line-height: 33px;
	text-align: center;
	color:red;
	position: relative;
}
.header .car .zero {
	width: 14px;
	height: 14px;
	line-height: 14px;
	background-color: red;
	display: inline-block;
	color: white;
	border-radius: 8px 8px 8px 0px;
	position: absolute;
	top: 0;
	right: 40px;
}
.header .car a:hover {
	color:red;
}
.m-header {
	float: left;
	margin-left: 310px;
	margin-top: 10px
}
.m-header li {
	float: left;
	padding-left: 10px;
}
.b-header {
	margin-top: 90px;
	margin-left: 205px;
}
.b-header li {
	color:#555555;
	font-size: 18px;
	font-weight: 700;
    float: left;
    padding-left: 25px;
}
.b-header .line {
	width: 1px;
	height: 15px;
	margin-top: 8px;
	margin-left: 15px;
	background-color: #ddd;
	float: left;
}